<%- include("./header.ejs") %>
<body>
    <div class="container mt-5">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4 shadow-lg" style="border: 2px dashed rgba(10, 207, 29, 0.3)">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img class="img-fluid" src="https://media.istockphoto.com/id/168376723/photo/new-house-home-view-from-garden-with-way-einfamilienhaus.jpg?s=1024x1024&w=is&k=20&c=DgTNu8PRrdSCYIZxbqY4_Th7N6pOMcGQFDjYantxTnQ="
                style="width: 500px;height: 350px;" />
            </div>
          </div>
          <div class="col-lg-6">
            <h1 class=" text-success">
              We Provide Renters
            </h1>
            <P><i class="fa-sharp fa-regular fa-badge-check fa-fade" style="color: #35a018;"></i>In Our broker portal we
              provide renter for your property in easy way.</P>
            <p>We Carry Some Charge For this Service.</p>
            <p>Full Lagal paper document identification.</p>
            <p>We Advertise your property on broker portal.</p>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4 shadow-lg" style="border: 2px dashed rgba(10, 207, 29, 0.3)">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img class="img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt9R-OtW_txibNuIYJPZr9SJsXLU2vuBlex0URY4LWsZfaq3coedN4Wv3ttlJ1oc2IQyw&usqp=CAU"
                style="width: 500px;height: 350px;" />
            </div>
          </div>
          <div class="col-lg-6">
            <h1 class=" text-success">
              We Advertise Your Property
            </h1>
            <P><i class="fa-sharp fa-regular fa-badge-check fa-fade" style="color: #35a018;"></i>In Our broker portal we provide renter service for your property
              provide renter for your property in easy way.</P>
            <p>Just one click You Book an appointment</p>
            <p>Add your property on broker portal</p>
            <p>We provise paper less document</p>



          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5 mb-5">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4 shadow-lg" style="border: 2px dashed rgba(10, 207, 29, 0.3)">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img class="img-fluid"
                src="https://www.imoney.my/articles/wp-content/uploads/home-for-rent.png"
                style="width: 500px;height: 350px;" />
            </div>
          </div>
          <div class="col-lg-6">
            <h1 class=" text-success">
              We Provide Room , Flat , Pg
            </h1>
            <P><i class="fa-sharp fa-regular fa-badge-check fa-fade" style="color: #35a018;"></i>In Our broker portal We provide service for finding room in easy way
             <p> We provide room in your location.</P>
            <p>According to your price range</p>
            <p>We provide paperless document</p>
            <p>legal aggrement </p>



          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<%- include("./footer.ejs") %>