
<%- include("./header.ejs") %>
<body>
  <div class="container mt-5">
  <div class="bg-light rounded p-3">
    <div
      class="bg-white rounded p-4"
      style="border: 1px dashed rgba(0, 185, 142, 0.3)"
    >
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-img">
            <img
              class="img-fluid w-100"
              src="https://assets-news.housing.com/news/wp-content/uploads/2022/03/15102726/Vastu-for-flats-in-apartments.jpg"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <h1 class="mb-4 text-success">
            Place To Find The Perfect Property For Rent
          </h1>
          <p class="mb-4">
            Provinding Renters For Your Propertery And Advertise your property
            for Sale Or Rent.
          </p>
          <p><i class="fa fa-check text-success me-3"></i>Room on Rent</p>
          <p><i class="fa fa-check text-success me-3"></i>PG For students</p>
          <p><i class="fa fa-check text-success me-3"></i>Flat And Apartment</p>
          <a class="btn btn-success py-3 px-5 mt-3" href="/aboutreadmore">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<%- include("./footer.ejs") %>