<%- include("./header.ejs") %>
<!-- Contact Start -->

<div class="container" style="padding-top: 80px;">
  <div class="bg-light rounded p-3">
    <div
      class="bg-white rounded p-4"
      style="border: 1px dashed rgba(0, 185, 142, 0.3)"
    >
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="contact-img">
            <img
              class="img-fluid rounded w-100"
              src="https://www.shutterstock.com/image-photo/portrait-cheerful-young-manager-handshake-260nw-1312231271.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6">
          <% if(msg.length >0){ %>
          <div class="alert alert-success"><%= msg %></div>
          <% } %>
          <div class="mb-4">
            <h1 class="mb-3">Contact With Our Certified Broaker</h1>
            <p>
              Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd
              vero ipsum sit sit diam justo sed vero dolor duo.
            </p>
          </div>
          <a href="" class="btn btn-success py-3 px-4 me-2"
            ><i class="fa fa-phone-alt me-2"></i>Make A Call</a
          >
          <button type="button" class="btn btn-dark py-3 px-5 " data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <i class="fa fa-calendar-alt me-2"></i>Get Appoinment
        </button>

          <!-- <a href="/bookappointment" class="btn btn-dark py-3 px-4"
            ><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact End -->

<!-- Team Start -->

<div class="container">
  <div class="bg-light rounded p-3">
    <div
      class="bg-white rounded p-4"
      style="border: 1px dashed rgba(0, 185, 142, 0.3)"
    >
    
      <div class="mb-5 justify-content-center" style="max-width: 600px">
        <h1 class="mb-3">Broaker Agents</h1>
        <p>
          Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore
          lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero
          dolor duo.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="team-item rounded overflow-hidden">
            <div class="position-relative">
              <img class="img-fluid" src="img/team-1.jpg" alt="" />
              <div
                class="position-absolute start-50 top-110 translate-middle d-flex align-items-center"
              >
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="text-center p-4 mt-3">
              <h5 class="fw-bold mb-0">Kirti Goayal</h5>
              <small>Thatipur,Gwalior</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item rounded overflow-hidden">
            <div class="position-relative">
              <img class="img-fluid" src="img/team-2.jpg" alt="" />
              <div
                class="position-absolute start-50 top-100 translate-middle d-flex align-items-center"
              >
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="text-center p-4 mt-3">
              <h5 class="fw-bold mb-0">Adani</h5>
              <small>Govindpuri,Gwalior</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item rounded overflow-hidden">
            <div class="position-relative">
              <img class="img-fluid" src="img/team-3.jpg" alt="" />
              <div
                class="position-absolute start-50 top-100 translate-middle d-flex align-items-center"
              >
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="text-center p-4 mt-3">
              <h5 class="fw-bold mb-0">Anamika Gandhi</h5>
              <small>Alkapuri,Gwalior</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item rounded overflow-hidden">
            <div class="position-relative">
              <img class="img-fluid" src="img/team-4.jpg" alt="" />
              <div
                class="position-absolute start-50 top-100 translate-middle d-flex align-items-center"
              >
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square mx-1 bg-white" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="text-center p-4 mt-3">
              <h5 class="fw-bold mb-0">OM Prakash</h5>
              <small>Murar</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team End -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h1 class="modal-title fs-5  text-white" id="exampleModalLabel">
         Book An Appointment
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/bookappointment/" method="post">
          <div class="md-3">
            <label for="">Full Name</label>
            <input type="text" name="name" class="form-control" />
          </div>
          <div class="md-3">
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" />
          </div>
          <div class="md-3">
            <label for="">Mobile No.</label>
            <input type="number" name="mobile" class="form-control" />
          </div>
          
          <div class="md-3 mt-1 mb-1">
            <label class="mb-2">Select An Appointment Date</label>
            <input type="date" name="date" class="form-control" />
          </div>
         
          
      <button type="submit" class="btn btn-dark mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>

  <%- include("./footer.ejs") %>